#idgameinput:invalid + #entergameid::after {
  background-color: var(--b8);
  color: var(--blackest);
}

#idgameinput:invalid + #entergameid:hover::after {
  cursor: not-allowed;
}

#idgameinput:valid + #entergameid::after {
  background-color: var(--b5);
  color: var(--whitest);
}

#idgameinput:valid + #entergameid:hover::after {
  border: 2px solid var(--b9);
}