/* Animations */

@keyframes error {
    0% {
        transform: rotate(-5deg);
    }

    10% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(-4deg);
    }

    30% {
        transform: rotate(4deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    70% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes info {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* Html Body and Centeringbg */

html, body {
    padding: 0;
    margin: auto;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-family: Arial, Helvetica, sans-serif
}

html {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    background-color: var(--b3);
    color: var(--b8);

    width:100vw;
    height: 100vh;

    transition: all .1s;
}

body {
    width:100%;
    height: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transition: all .2s;
}


#centeringbg {
    width: calc(100% - 6vw);
    height: calc(100% - 4vw);

    padding: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: var(--b5semi);

    border-radius: var(--centeringborder);
}

/* ----------- Components ----------- */

/* Buttons & inputs */
button, input[type=submit] {
    border: 2px solid var(--b2);
    border-radius: 5px;
    padding: 5px;

    font-weight: bold;

    background-color: var(--b4);
    color: var(--b9);

    transition: all .3s;
}

button:hover, input[type=submit]:hover {
    background-color: var(--b3);
}

button:active, input[type=submit]:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}


/* Tables */

table {
    border: var(--b5) 1px solid;
}

th {
    font-size: 15px;
}

thead {
    position: fixed;
}

tr {
    background-color: var(--b2);
}

tr:hover {
    background-color: var(--b5);
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: var(--b5);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--b7); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--b7); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--b8); 
}


/* Titles */

h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
    color: var(--b9);
    margin-bottom: 1vh;
    margin-top: 0;
    font-size: var(--fontsizebtn);
}


/* Links & texts */

p {
    margin: 2px;
}

a {
    color: var(--b9);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: var(--b9);
}

a:hover {
    color: var(--b8);
    font-weight: bolder;
}

/* ----------- Specific Objects ----------- */

/* Messages */

.msg {
    position: absolute;
    left: 25vw;
    width: 50vw;
    padding: 8px;
    border-radius: 9px;
    margin: auto;
    margin-bottom: 1vh;

    font-size: large;

    background-color: var(--b9);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    transition: all .3s;
}

.msg span {
    padding: 5px;
}

.closeMsg {
    font-weight: bolder;
    border-radius: 5px;
    transition: all .3s;
}

#errorMsg {
    top: 15vh;
    animation: error .8s;
    color: var(--red);
}

#infoMsg {
    top: 20vh;
    animation: info .8s;
    color: var(--green);
}

#errorMsg .closeMsg {
    background-color: var(--red);
    color: var(--b9);
}

#infoMsg .closeMsg {
    background-color: var(--green);
    color: var(--b9);
}

#errorMsg .closeMsg:hover {
    background-color: var(--dark-red);
    color: var(--b8);
}

#infoMsg .closeMsg:hover {
    background-color: var(--dark-green);
    color: var(--b8);
}

#errorMsg .closeMsg:active {
    background-color: var(--b1);
    color: var(--b7);
}

#infoMsg .closeMsg:active {
    background-color: var(--b1);
    color: var(--b7);
}

/* Language */

#languageselection {
    position: fixed;
    top: 3vw;
    right: 3vw;
}


.worldmap {
    background-image: url("../images/map/mapbackground.jpg");
    background-size: cover;
    background-position: center;
}

/* Footer */
.centeringfoot {
    width: 30vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ----------- Responsive ----------- */


@media only screen and (max-width: 550px) {
    th {
        font-size: 8px;
    }
}

/* ----------- NOJS ----------- */

#nojs {
    width: 100%;
    height: 100%;
    background-color: var(--b2);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nojs div{
    width: 70%;
    height: 80%;
    background-color: var(--b4);
    margin: auto;
    color: var(--b8);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}