/* Dark mode */
:root {
    --b0: #000000;
    --b1: #04080F;
    --b2: #17263B;
    --b3: #2A4366;
    --b4: #507DBC;
    --b5: #79A2D3; --b5semi: #79a1d399;

    --b6: #A1C6EA;
    --b7: #BBD1EA;
    --b8: #DAE3E5;
    --b9: #FFFFFF;

    --dark-red: #80382E;
    --red: #D1462F; 
    --dark-yellow: #9F9B4D;
    --yellow: #FDE74C;
    --dark-green: #6E8A45;
    --green: #9BC53D;
    --dark-blue: #4E879C;
    --blue: #5BC0EB;

    --websitefonts: Arial, Helvetica, sans-serif;

    --centeringborder: calc(.5vh + .5vw);
    
    --inputsizebtn: calc(10vh + 15vw);
    --inputradiusbtn: calc(.5vh + .75vw);
    --bordersizebtn: calc(0.2vh + 0.2vw);
    --fontsizebtn: calc(2vh + 2vw);
}